<html  ng-app="mdb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-resource.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-sanitize.js"></script>
    <link href="app.css" rel="stylesheet">
    <script src="home.js"></script>
</head>
<body ng-controller="mController">

<div class="container">
    <br/>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Enter Your Student ID" ng-model="StudentID">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit" ng-click="getData()">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form> <br>
            <div id = "detailsDisplay" style="display: none">
                <span class="d-block p-3 bg-dark text-white" align="center">Hi {{name}}, Welcome to Our Page !</span><br>

                <div style="color: whitesmoke" align="center">Click here to redirect to UMKC {{major}} course catalog </div>
            </div>
        </div>
        <!--end of col-->
    </div>
</div>
</body>
</html>